.login-container {
  width: 80%;
  max-width: 500px;
  border: 2px solid black;
  border-radius: 0.5rem;
  margin: auto;
  padding: 1rem;
}

.login-container h1 {
  text-align: center;
}

.login-container__text {
  margin-bottom: 1rem;
  margin-top: 1rem;
}
