.user-card-container {
  width: 100px;
  height: 150px;
  position: relative;
  text-align: center;
  border: 4px solid white;
  border-radius: 4px;
  margin-right: 10px;
}

.user-card-container__selected {
  border-color: #e16d54;
}

.user-card-text__selected {
  color: #e16d54;
}

.user-card-image {
  width: 92px;
  height: 142px;
}

.user-card-text-container {
  position: absolute;
  width: 100%;
  color: white;
  background-color: rgba(0, 0, 0, 0.5);
  bottom: 0;
}
